@font-face {
  font-family: "n27regular";
  src: url("./src/assets/fonts/webfont\ files/.eot");
  src: url("n27-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("./src/assets/fonts/webfont\ files/.woff2") format("woff2"),
    url("./src/assets/fonts/webfont\ files/.woff") format("woff"),
    url("./src/assets/fonts/webfont\ files/.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* BRAND COLORS */
  --NW-aqua: #71d7b2;
  --NW-light-grey: #e0e0e0;
  --NW-dark-grey: #303030;
  --NW-dark-grey-opacity: #30303010;
  --NW-black: #000000;
  --NW-white: #ffffff;
  --NW-white-opacity: #ffffff99;
  /* FONT */
  --NW-font-family: "n27", monospace, sans-serif;
  --NW-font-size-titles: 1.75rem;
  --NW-font-weight-titles: 300;
  --NW-font-size-bg-titles: 9rem;
  --NW-font-size-p: 1.25rem;
  --NW-font-weight-p: 300;
  --NW-line-height-bg-titles: 8rem;
  /* GAPS-MARGINS-PADDINGS */
  --NW-gap-l: 15rem;
  --NW-section-padding-01: 10svw;
  /* TRANSITION */
  --NW-transition-01: 0.4s ease-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "n27", monospace, sans-serif;
}

html {
  background-color: var(--NW-light-grey);
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.page-loader-div {
  background-color: var(--NW-dark-grey);
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0svh;
  left: 0svw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  opacity: 1;
  transition: var(--NW-transition-01);
}

.hidden-page-loader {
  opacity: 0;
}
#page-loader {
  width: 35%;
}
p h1 h2 h3 h4 li a {
  color: var(--NW-dark-grey);
}

p {
  font-size: var(--NW-font-size-p);
  font-weight: var(--NW-font-weight-p);
  color: var(--NW-dark-grey);
}

button {
  cursor: pointer;
}
