@font-face {
  font-family: "n27regular";
  src: url("./src/assets/fonts/webfont\ files/.eot");
  src: url("n27-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("./src/assets/fonts/webfont\ files/.woff2") format("woff2"),
    url("./src/assets/fonts/webfont\ files/.woff") format("woff"),
    url("./src/assets/fonts/webfont\ files/.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* BRAND COLORS */
  --NW-aqua: #71d7b2;
  --NW-light-grey: #e0e0e0;
  --NW-dark-grey: #303030;
  --NW-dark-grey-opacity: #30303010;
  --NW-black: #000000;
  --NW-white: #ffffff;
  /* FONT */
  --NW-font-family: "n27", monospace, sans-serif;
  --NW-font-size-titles: 1.5rem;
  --NW-font-weight-titles: 300;
  --NW-font-size-bg-titles: 9rem;
  --NW-line-height-bg-titles: 8rem;
  /* GAPS-MARGINS-PADDINGS */
  --NW-gap-l: 15rem;
  --NW-section-padding-01: 10svw;
  /* TRANSITION */
  --NW-transition-01: 0.4s ease-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "n27", monospace, sans-serif;
}

html {
  background-color: var(--NW-light-grey);
  scroll-behavior: smooth;
}
