nav {
  position: fixed;
  bottom: -20px;
  background-color: var(--NW-dark-grey-opacity);
  width: 100%;
}

#top-left-logo {
  position: absolute;
  width: 100px;
  bottom: 100%;
  top: -92svh;
  left: 6svh;
}

.ul-nav {
  position: relative;
  bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  font-size: var(--NW-font-size-titles);
  gap: 0;
}
.li-nav {
  color: var(--NW-dark-grey);
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  list-style: none;
  padding: 7px 25px;
}

.li-nav a {
  color: var(--NW-dark-grey);
  text-decoration: none;
}

.nav-li-mask {
  position: absolute;
  bottom: -100px;
  width: 25%;
  height: 100%;
  transition: var(--NW-transition-01);
  overflow: visible;
  z-index: -99;
}
.nav-li-mask-hover {
  position: absolute;
  bottom: 0;
  background-color: var(--NW-aqua);
  width: 25%;
  height: 100%;
  z-index: -99;
}

.button-test {
  width: 250px;
  height: 75px;
  position: absolute;
  top: 50%;
  right: 50%;
  left: 50%;
  bottom: 50%;
}
