#daily-msg {
  position: absolute;
  transform: rotate(90deg);
  top: 50%;
  left: -2svw;
  font-weight: var(--NW-font-weight-titles);
  text-transform: capitalize;
  background-color: var(--NW-aqua);
  z-index: 99;
}
