#knowSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 65svw;
  height: 100svh;
  padding: var(--NW-section-padding-01);
}

.knowSection-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  left: 7svw;
  flex-wrap: wrap;
  max-height: 90svh;
  gap: 5rem;
}

#categories-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.knowSection-content > div {
  margin: 2svh 2svw;
  max-width: 20svw;
}

.know-sct-category h3 {
  text-transform: capitalize;
  font-size: 1.75rem;
  font-weight: 300;
}

.know-category-title {
  text-indent: -4rem;
  margin: 1rem;
}

#knowSection ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#skills-list ul {
  gap: 0.25rem;
}

#skills-list li {
  font-size: var(--NW-font-size-p);
  text-transform: uppercase;
  color: var(--NW-dark-grey);
}

#list-div a {
  color: var(--NW-dark-grey);
}

@media only screen and (max-width: 780px) {
  #knowSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 150svw;
    height: 100svh;
    padding: var(--NW-section-padding-01);
  }

  .knowSection-content {
    display: flex;
    flex-direction: row;

    justify-content: center;
    position: relative;
    left: 0svw;
    flex-wrap: wrap;
    max-height: 90svh;
    gap: 0 5rem;
  }

  #experience ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 400px;
    gap: 2rem;
  }
}

.know-category-button {
  border: none;
  background-color: var(--NW-dark-grey-opacity);
  max-height: 40px;
  display: flex;
  align-items: end;
  justify-content: flex-start;
}
.know-category-button:hover {
  border: none;
  background-color: var(--NW-aqua);
}

.know-category-button > h3 {
  pointer-events: none;
}

@media only screen and (max-width: 480px) {
  #knowSection {
    width: 300svw;
    height: 85svh;
    display: flex;
    align-items: start;
  }

  .knowSection-content > div {
    margin: 2svh 2svw;
    max-width: 60svw;
  }

  .knowSection-content ul {
    flex-wrap: wrap;
  }

  .knowSection-content {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: start;
    position: relative;
    left: 0svw;
    flex-wrap: wrap;
    max-height: 60svh;
    gap: 0 5rem;
  }
}
