#moreSection {
  display: flex;
  flex-direction: column;
  position: relative;
  /* top: 10svh; */
}

#moreSection .bg-text {
  position: absolute;
  left: 5svw;
  bottom: 25svh;
  font-size: 12rem;
  line-height: 12rem;
}

#moreSection form {
  display: flex;
  flex-direction: column;
}

.moreSection-content {
  display: flex;
}

#social-links {
  display: flex;
  flex-direction: column;
}

#moreSection a {
  color: var(--NW-dark-grey);
  font-size: var(--NW-font-size-p);
  text-transform: uppercase;
  text-decoration: none;
}
