#moreSection {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 3rem;
  width: 90svw;
  /* top: 10svh; */
}

#moreSection h3 {
  text-indent: -20rem;
}

#moreSection .bg-text {
  position: absolute;
  left: -10svw;
  bottom: 25svh;
  font-size: 12rem;
  line-height: 12rem;
}

#contact-form {
  display: flex;
  flex-direction: column;
}

.moreSection-content {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 5svw;
  top: 5svh;
}

#social-links {
  display: flex;
  flex-direction: column;
}

#moreSection a {
  color: var(--NW-dark-grey);
  font-size: var(--NW-font-size-p);
  text-transform: uppercase;
  text-decoration: none;
}

#contact-form input,
textarea {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 40svw;
  height: 4svh;
  min-width: 100px;
  border-radius: 0;
  background-color: var(--NW-white-opacity);
  word-break: break-word;
  /* mix-blend-mode: overlay; */
  border: none;
  padding: 30px;
}

textarea#description-input {
  height: 20svh;
}

#submit-button-label {
  display: none;
}

#submit-button {
  border: none;
  border-radius: 0;
  height: 4svh;
  width: 15svw;
  min-width: 135px;
  align-self: flex-end;
  background-color: var(--NW-dark-grey);
  position: relative;
  top: -1rem;
  right: -3rem;
}

#submit-button p {
  color: var(--NW-aqua);
  text-transform: uppercase;
  position: relative;
  top: -0.4rem;
  right: -2rem;
}

label {
  color: var(--NW-dark-grey);
  opacity: 0.5;
  font-size: var(--NW-font-size-p);
  font-weight: 600;
  position: relative;
  top: 1rem;
  left: 1rem;
}

@media only screen and (max-width: 780px) {
  #moreSection .bg-text {
    position: absolute;
    left: -35svw;
    bottom: 15svh;
    font-size: 12rem;
    line-height: 12rem;
  }

  #moreSection {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60px;
    gap: 3rem;
    width: 50svw;
    /* top: 10svh; */
  }

  #moreSection h3 {
    text-indent: -10rem;
  }
}
