#div-for-x-scroll {
  display: grid;
  width: 100%;
  overflow-x: scroll;
  grid-template-columns: repeat(5, auto);
  align-items: center;
}

section {
  position: relative;
  display: flex;
  width: 100svw;
  height: 100svh;
  align-items: center;
  padding: var(--NW-section-padding-01);
}

/* .section-texts { */
/* display: flex; */
/* flex-direction: column; */
/* position: relative; */
/* opacity: 100svw; */
/* min-width: 45svw; */
/* max-width: 550px; */
/* top: -2svw; */
/* } */

.bg-text {
  font-weight: var(--NW-font-weight-titles);
  font-size: var(--NW-font-size-bg-titles);
  text-transform: uppercase;
  /* text-align: right; */
  opacity: 10%;
  max-width: 1000px;
  /* position: relative; */
  /* left: -25svw; */
  /* top: -2svw; */
  line-height: var(--NW-line-height-bg-titles);
  user-select: none;
}

.section-title {
  font-size: var(--NW-font-size-titles);
  text-transform: capitalize;
  font-weight: var(--NW-font-weight-titles);
}
.section-paragraph {
  position: relative;
  left: 50px;
  top: 50px;
}
