#whoSection {
  right: -2.5svw;
}

#whoSection .bg-text {
  position: absolute;
  right: 15svw;
  top: 10svh;
  font-size: 12rem;
  line-height: 12rem;
  text-align: right;
  user-select: none;
}

#whoSection .section-texts {
  max-width: 100svw;
}

@media only screen and (max-width: 780px) {
  #whoSection .section-texts {
    max-width: 70svw;
  }

  #whoSection {
    right: -0svw;
    top: -5svh;
  }
}
